@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap");

.App {
  font-family: "Commissioner", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 231, 231);
}
